
body {font-family:'georgia';font-size:12pt;}

h1,h2,h3 {font-family:'tahoma';}

a img {border-style:none;}

// DEBUG LINE: makes every writings green
//body {color:#0f0;}

div#language {text-align:right;}

div#footer {color:#888;font-size:10pt; text-align:center;}

