/*
 *      css/screen.css
 *      
 *      Copyright 2010 Daniel Böhmer <daniel.boehmer@it2007.ba-leipzig.de> and
 *                     Patrick Nicolaus <patrick.nicolaus@it2007.ba-leipzig.de>
 *      
 *      This file is part of Hotelres.
 * 
 *      Hotelres is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      Hotelres is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */



/* global layout */
body {
    font-family:'georgia';
    font-size:12pt;
    margin-left:10%;
    margin-right:10%;
}

div#language {
    float:right;
    text-align:right;
}

div#footer {
    color:#888;
    font-size:10pt;
    text-align:center;
}


/* particular HTML elements with certain formatting */
h1,h2,h3 {
    font-family:'trebuchet ms';
    color:#000044;
}

a img {
    border-style:none;  /* images shall not have a border, even inside links */
}

h1 a, h2 a, h3 a {
    text-decoration:none;  /* links in headlines should not be underlined */
}

td form {
    padding:0.5em;
}

th {
    background-color:#ccf;
    color:#004;
}

td {
    background-color:#eef;
}


/* pattern for particular objects */

div.info, div.warn, div.error, form {
    border-style:solid;
    padding:1em;
}

div.info, div.warn, div.error {
    margin-bottom:1em;
}

div.info, form {
    border-color:#000;
    border-width:1px;
}

div.warn {
    border-color:#800;
    border-width:1px;
    color:#800;
}

div.error {
    border-color:#800;
    border-width:2px;
    color:#800;
    /*font-weight:bold;*/
}


